@model AppSessionListDto
@{
    Layout = "_Layout";
}

<div class="container-fluid">
    <div class="text-right">
        <a id="pdfButton" class="btn btn-success" asp-action="GenerateAndDownloadPdfStudentSessionCriterias" asp-controller="Student" asp-route-myFileName="@ViewBag.headerforPdf" asp-route-sessionId="@ViewBag.sessionId" asp-route-userId="@ViewBag.userId">PDF</a>
    </div>
    @{if (Model.Definition != "NotExists")
        {

            <h2>@ViewBag.sessionName DÖNEMİ YÖNETMELİĞİ</h2>
            <hr />


            <ul class="list-group">

                <li class="list-group-item">Dönem ortalaması <strong>@Model.MinAverageNote</strong> altında olan öğrenciler <strong>DÖNEM BAŞARISIZLIĞI İHTARI</strong> alırlar</li>
                <li class="list-group-item">Dönem İçerisinde herhangi bir dersten <strong>@Model.MinLessonNote</strong> altında not alan öğrenciler <strong>DERS BAŞARISIZLIĞI İHTARI</strong> alırlar</li>
                <li class="list-group-item">Dönem İçerisinde iki veya daha fazla dersten <strong>DERS BAŞARISIZLIĞI İHTARI</strong> alan   öğrenciler <strong>DÖNEM BAŞARISIZLIĞI İHTARI</strong> alırlar</li>
                <li class="list-group-item">Bir ders için not girmek yerine yalnızca <strong>BAŞARILI/BAŞARISIZ</strong> şeklinde bir değerlendirme yapılabilir.</li>
                <li class="list-group-item"><strong>BAŞARILI/BAŞARISIZ</strong> şeklinde yapılan değerlendirmeler; ortalamayı etkilemez fakat <strong>DERS BAŞARISIZLIĞI İHTARI</strong> verilmesine yol açabilir. </li>
                <li class="list-group-item">Dönem İçerisinde herhangi bir derste <strong>@Model.MinAbsenteeism</strong> günden fazla devamsızlık yapan öğrenciler <strong>DEVAMSIZLIK İHTARI </strong>alırlar</li>
                <li class="list-group-item">Üstüste 2 dönem boyunca <strong>DÖNEM BAŞARISIZLIĞI İHTARI</strong> alan öğrenciler veya toplamda 3 dönem <strong> DÖNEM BAŞARISIZLIĞI İHTARI</strong> alan öğrenciler programdan uzaklaştırılır. </li>
                <li class="list-group-item">Bir dönem içerisinde 2 veya daha fazla dersten <strong>DEVAMSIZLIK İHTARI</strong> alan öğrenciler programdan uzaklaştırılır.</li>



            </ul>
            <br />
            <div class="text-right">
                <label><strong>AKDEM BAŞKANI :</strong></label>
                <span>@Model.Sessionpresident</span>
            </div>


        }
        else
        {
            <h5>Aktif Bir Dönem İçerisinde Bulunmamaktasınız</h5>
        }
    }
</div>



