@model List<AppUserSessionLessonListDtoDeveloper>

@{
    Layout = "_Layout";
}
<div class="col-md-2 align-items-center">
    <a asp-action="CreateAppUserSessionLesson" asp-controller="Developer" class="mt-2 btn btn-success ">Yeni  Ekle</a>

</div>
<br />
<table class="mt-3 table table-sm table-hover table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>LessonId</th>
            <th>UserSessionId</th>
            <th>Not</th>
            <th>Devamsızlık</th>
            



            <th>Git</th>


        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            <tr>
                <td>@item.Id</td>
                <td>@item.LessonId</td>
                <td>@item.UserSessionId</td>
                <td>@item.Not</td>
                <td>@item.Devamsızlık</td>



                <td><a  asp-action="UpdateAppUserSessionLesson" asp-controller="Developer" asp-route-id="@item.Id">Git</a></td>





            </tr>
        }
    </tbody>

</table>