@model List<AppStudentListDto>
@{
    Layout = "_Layout";
    int count = 0;
}
<div class="container-fluid">
    <div class="text-right">
        <a id="pdfButton" class="btn btn-success" asp-action="GenerateAndDownloadPdf" asp-controller="User" asp-route-myFileName="@ViewBag.headerforPdf" asp-route-classType="@ViewBag.classType">PDF</a>
    </div>
    <div class="text-end">
        <h1> @ViewBag.header</h1>
    </div>
    <div id="branchButtons" class="text-right">
        <a style="color:navy; text-decoration:underline;" asp-action="GetStudents" asp-controller="User" asp-route-classType="@((int)ClassType.Tamamı)">Tüm Öğrenciler</a>    |

        <a style="color:navy; text-decoration:underline;" asp-action="GetStudents" asp-controller="User" asp-route-classType="@((int)ClassType.Hazırlık)">Hazırlık</a>    |
        <a style="color:navy; text-decoration:underline;"asp-action="GetStudents" asp-controller="User" asp-route-classType="@((int)ClassType.Bir)">Birinci Sınıf</a>    |
        <a style="color:navy; text-decoration:underline;"asp-action="GetStudents" asp-controller="User" asp-route-classType="@((int)ClassType.iki)">İkinci Sınıf</a>    |
        <a style="color:navy; text-decoration:underline;"asp-action="GetStudents" asp-controller="User" asp-route-classType="@((int)ClassType.Üç)">Üçüncü Sınıf</a>    |
        <a style="color:navy; text-decoration:underline;"asp-action="GetStudents" asp-controller="User" asp-route-classType="@((int)ClassType.Dört)">Dördüncü Sınıf</a>    |
        <a style="color:navy; text-decoration:underline;"asp-action="GetStudents" asp-controller="User" asp-route-classType="@((int)ClassType.Mezun)">Mezunlar</a>    |
        <a style="color:navy; text-decoration:underline;"asp-action="GetStudents" asp-controller="User" asp-route-classType="@((int)ClassType.Pasif)">Pasif Öğrenciler</a>    |

    </div>

    @{
        if (ViewBag.classId != 6 && ViewBag.classId != 8)
        {
            <div class="col-md-2 align-items-center">
                <a id="newStudent" asp-action="CreateStudent" asp-controller="User" asp-route-classId="@ViewBag.classId" class="mt-2 btn btn-success ">Yeni Öğrenci  Ekle</a>

            </div>

        }
    }



    <table class="mt-3 table table-sm table-hover table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>İsim</th>
                <th>Sıra No</th>
                <th>Durum</th>
                <th>Email</th>
                <th>Telefon Numarası</th>
                <th>Görsel</th>
                <th>Sınıf</th>
                @{if (ViewBag.classType == ClassType.Mezun)
                    {

                        <th>Mezuniyet Dönemi</th>

                    }

                    else if (ViewBag.classType == ClassType.Pasif)
                    {
                        <th>Ayrılık Dönemi</th>

                    }


                    else
                    {
                        <th>Şube</th>



                        <th>Güncelle</th>
                        <th>Sil</th>
                    }
                }


            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                count = count + 1;
            <tr>
                <td>@count</td>
                <td> <a asp-action="UserDetails" asp-controller="Branch" asp-route-userId="@item.Id"> <span style="font-weight: bold; color: darkblue; text-decoration: underline">@item.FirstName @item.SecondName</span> </a></td>
                <td>@item.SıraNo</td>
                @{if (ViewBag.classType == ClassType.Mezun)
                    {
                        <td>Mezun</td>

                    }
                    else
                    {
                        <td>@(item.Status==true ? "Aktif":"Pasif")</td>

                    }


                }




                <td>@item.Email</td>
                <td>@item.PhoneNumber</td>
                <td><img src="@item.ImagePath" height="150" width="150" /></td>
                <td>@item.AppBranch.AppClass.Definition</td>
                @{if (ViewBag.classType == ClassType.Mezun)
                    {
                        string[] parcalar = item.AppBranch.Definition.Split(new char[] { '/' });
                        string date = parcalar[1] + "/" + parcalar[2];

                        <td>@date</td>

                    }
                    else if (ViewBag.classType == ClassType.Pasif)
                    {
                        <td><getPassiveStudentInfo user-id="@item.Id"></getPassiveStudentInfo></td>

                    }
                    else
                    {
                        <td>@item.AppBranch.Definition</td>
                        <td><a class="btn btn-primary" asp-action="UpdateStudent" asp-controller="User" asp-route-id="@item.Id">Güncelle</a></td>
                        <td><a class="btn btn-danger" asp-action="RemoveStudent" asp-controller="User" asp-route-id="@item.Id" asp-route-classId="@item.ClassId">Sil</a></td>
                    }



                }






            </tr>
            }
        </tbody>

    </table>

</div>

