@model List<AppStudentListDto>
@{
    Layout = "_Layout";
    int count = 0;
}

<div class="mt-2">
    <div class="row justify-content-between">
        <div class="text-left">
            <a id="turntolist" class="btn btn-danger" asp-action="Index" asp-controller="Warning" asp-route-myFileName="@($"{ViewBag.sessionName2} DÖNEMİ BAŞARISIZ DURUMA DÜŞEN ÖĞRENCİLER")" asp-route-sessionId="@ViewBag.sessionId">Listeye Dön</a>
        </div>
        <div class="text-right">
            <a id="pdfButton" class="btn btn-success" asp-action="GenerateAndDownloadPdf3" asp-controller="Warning" asp-route-myFileName="@($"{ViewBag.sessionName2} DÖNEMİ BAŞARISIZ DURUMA DÜŞEN ÖĞRENCİLER")" asp-route-sessionId="@ViewBag.sessionId">PDF</a>
        </div>
    </div>
    <br />
    <h1>( @ViewBag.sessionName ) DÖNEMi BAŞARISIZ DURUMA DÜŞEN ÖĞRENCİLER</h1>
</div>

@{if (Model.Count != 0) {
    
    
    <table class="mt-3 table table-sm table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>İsim</th>
                <th>Soyisim</th>
                <th>Sınıf</th>

                <th>Genel Ortalama</th>
                <th>Sebep</th>
                <th>İhtarlar</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                count = count + 1;
                <tr>

                    <td>@count</td>
                    <td>@item.FirstName</td>
                    <td>@item.SecondName</td>
                    <td>@item.AppBranch.Definition</td>

                    <td>@String.Format("{0:0.00}", item.TotalAverage)</td>
                    <td>@item.DepartReason</td>
                    <td><a class="btn btn-outline-success" asp-action="StudentWarnings" asp-controller="Warning" asp-route-sessionId="@ViewBag.sessionId" asp-route-userId="@item.Id">İhtarlar</a></td>



                </tr>
            }
        </tbody>


    </table>    
    }
            else { 
    
    <h5>Bu Dönem Başarısız Duruma Düşen Herhangi Bir Öğrenci Olmamıştır</h5>
    }
  }


