@model AppScheduleDetailCreateModel
@{
    Layout = "_Layout";
}
@section style{
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        
       

    </style>

}
<h2>Çizelge Oluştur</h2>
<br />
<br />

<div class="text-right">
    <a class="btn btn-outline-info" asp-action="CreateSchedule" asp-controller="Schedule" asp-route-id="@ViewBag.sessionId">Yeni Program</a>

    <a class="btn btn-outline-secondary" asp-action="Index" asp-controller="Schedule" asp-route-id="@ViewBag.sessionId">Tüm Programlar</a>
</div>

<br />
<div class="container-fluid">
    <form asp-action="CreateScheduleDetail" asp-controller="ScheduleDetail" method="post" enctype="multipart/form-data">
        @*<input type="hidden" asp-for="SessionId" value="@ViewBag.sessionId" />
            <input type="hidden" asp-for="BranchId" value="@ViewBag.branchId" />*@
        <input type="hidden" asp-for="ApScheduleId" value="@ViewBag.scheduleId" />

        <div class="row">
            <div class="col-md-3">
                <select asp-for="LessonId" asp-items="@ViewBag.lessons" class="form form-control-sm">
                    <option value="0">Bir Ders Seçiniz</option>
                </select>
            </div>
            <div class="col-md-3">
                <select asp-for="Day" asp-items="@ViewBag.days" class="form form-control-sm">
                    <option value="0">Bir Gün Seçiniz</option>
                </select>
            </div>
            <div class="col-md-3">
                <label>Başlangıç :</label>
                <input type="time" asp-for="FirstHour" />
            </div>
            <div class="col-md-3">
                <label>Bitiş :</label>
                <input type="time" asp-for="LastHour" />
            </div>
        </div>
        <br />

        <div class="mt-3">
            <button class="btn btn-success" type="submit">EKLE</button>
        </div>
        <div class="mb-3 text-bg-danger" asp-validation-summary="All">

        </div>
    </form>
</div>




<table id="dersProgramiTable" >
    <thead>
        <tr>
            <th>Saat</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
<br />
<br />
<br />
<table style="max-width:500px" id="dersProgramiOnizle" class="table-borderless  ">
    <tbody>

    </tbody >
</table>
<div class="text-right">
    <a class="btn btn-outline-info" asp-action="SaveChanges" asp-controller="ScheduleDetail" asp-route-scheduleId="@ViewBag.scheduleId">KAYDET</a>

   </div>


@section script{

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <script>


        var gunler = ["Pazartesi", "Salı", "Çarşamba", "Perşembe", "Cuma","Cumartesi","Pazar"];

        var baslikSatiri = $("<tr>").append("<th>Saat</th>");
        gunler.forEach(function (gun) {
            baslikSatiri.append("<th>" + gun + "</th>");
        });
        $("#dersProgramiTable thead tr").remove();
        $("#dersProgramiTable thead").append(baslikSatiri);





        $.get('/ScheduleDetail/GetScheduleDetailandHours', { scheduleId: @ViewBag.scheduleId }, function (data) {
                // Şube ayrıntılarını güncelle

                updateTable(data);
        });
        $.get('/ScheduleDetail/GetScheduleDetailandHours', { scheduleId: @ViewBag.scheduleId }, function (data) {
                // Şube ayrıntılarını güncelle

                updateTable2(data);
        });





        function updateTable(data) {
            // Tabloyu temizle
            $("#dersProgramiTable tbody").empty();


            // Saat aralıkları üzerinde döngü
            $.each(data.scheduleHours, function (index, saat) {
                var satir = $("<tr>").append("<td>" + saat + "</td>");
                

                // Günler üzerinde döngü
                gunler.forEach(function (gun) {
                    // İlgili gün ve saatteki dersi bul
                    var ders = data.appScheduleDetails.find(x => x.day == gun && x.hours == saat);
                    
                    // Ders bilgisini al
                    
                    var dersBilgisi = ders ? ders.appLesson.definition : "";
                    var saatBilgisi = ders ? `(\n${saat})`: "";
                    


                    satir.append("<td>" + dersBilgisi +   saatBilgisi  + "</td>");


                });




                // Satırı tabloya ekle
                $("#dersProgramiTable tbody").append(satir);


            });



        }
        let derslerSet = new Set();
        let dtoSet = new Set();
        
        function updateTable2(data) {


            
            $.each(data.appScheduleDetails, function (index, dto) {
                
                dtoSet.add(dto);

            });

            console.log(dtoSet);

            $("#dersProgramiOnizle tbody").empty();
            $.each(data.appScheduleDetails, function (index, dto) {
                var dersler = dto.appLesson.definition;
                derslerSet.add(dersler);

            });
            var uniqueDerslerArray = Array.from(derslerSet);
            var dtoarray = Array.from(dtoSet);
            
            
            uniqueDerslerArray.forEach(function (ders,index) {
                var satir = $("<tr>").append("<td>" + "-->" + "</td>").addClass(" font-weight-bold")
                var dersSatir = $("<td>").text(ders).addClass(" font-weight-bolder")
                var lesson = dtoarray.find(x => x.appLesson.definition == ders);
                
                var id = lesson.ıd;
                
                
                satir.append(dersSatir);
                var link1 = $('<a>').text("X")
                    .attr('href', '/ScheduleDetail/RemoveScheduleDetail?id='+id)
                    .addClass("btn btn-outline-danger text-danger font-weight-bold");
                    
                satir.append(link1);
                
                $("#dersProgramiOnizle tbody").append(satir);
            });
        }
        
    </script>


    }