@model List<AppUserSessionLessonListDto>
@{
    Layout = "_Layout";
    int count = 0;
}

<div class="mt-2">
    <div class="text-right">
        <a id="pdfButton" class="btn btn-success" asp-action="GenerateAndDownloadPdf2" asp-controller="Session" asp-route-myFileName="@($"{ViewBag.sessionName2} DÖNEMİ GİRİLMEMİŞ NOTLARI")" asp-route-sessionId="@ViewBag.sessionId">PDF</a>
    </div>
    <h1>( @ViewBag.sessionName ) DÖNEMi HENÜZ GİRİLMEMİŞ NOTLAR</h1>
</div>

<table class="mt-3 table table-sm table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>DERS</th>
            <th>AÇIKLAMA</th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            count = count + 1;
            <tr>

                <td>@count</td>
                <td>@item.AppLesson.Definition</td>
                <td>@($"{item.AppUserSession.AppBranch.Definition} sınıfından {item.AppUserSession.AppUser.FirstName} {item.AppUserSession.AppUser.SecondName} öğrencisine ait {item.AppLesson.Definition} ({item.AppLesson.AppUser.FirstName} {item.AppLesson.AppUser.SecondName}) dersine ait not girişi henüz yapılmadı")</td>
                

            </tr>
        }
    </tbody>


</table>